In [1]:
import sqlite3

# Connect to SQLite database
# If the database does not exist, it will be created
connection = sqlite3.connect('movies.db')

# Create a cursor object to interact with the database
cursor = connection.cursor()

print("Database connected successfully.")

Database connected successfully.

SyntaxError: invalid syntax (2998549786.py, line 1)

In [2]:
# Create a table
create_table_query = """
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    gender TEXT,
    nationality TEXT
);
"""

cursor.execute(create_table_query)
connection.commit()

print("Table created successfully.")

Table created successfully.

In [3]:
# Insert data into the table
insert_query = """
INSERT INTO users (name, age, gender, nationality)
VALUES (?, ?, ?, ?);
"""

# Data to be inserted
users = [
    ('James', 25, 'Male', 'USA'),
    ('Leila', 32, 'Female', 'France'),
    ('Brigitte', 35, 'Female', 'England'),
]

# Execute the query for each user
cursor.executemany(insert_query, users)
connection.commit()

print("Data inserted successfully.")

Data inserted successfully.

In [5]:
# Query data from the table
select_query = "SELECT * FROM users"

cursor.execute(select_query)
rows = cursor.fetchall()

print(rows)

for row in rows:
    print(row)

[(1, 'James', 25, 'Male', 'USA'), (2, 'Leila', 32, 'Female', 'France'), (3, 'Brigitte', 35, 'Female', 'England')]
(1, 'James', 25, 'Male', 'USA')
(2, 'Leila', 32, 'Female', 'France')
(3, 'Brigitte', 35, 'Female', 'England')

In [6]:
# Update data in the table
update_query = """
UPDATE users
SET age = ?
WHERE name = ?;
"""

cursor.execute(update_query, (30, 'James'))
connection.commit()

print("Data updated successfully.")

Data updated successfully.

In [7]:
# Delete data from the table
delete_query = """
DELETE FROM users
WHERE name = ?;
"""

cursor.execute(delete_query, ('Brigitte',))
connection.commit()

print("Data deleted successfully.")

Data deleted successfully.

In [8]:
# Close the cursor and connection
cursor.close()
connection.close()

print("Database connection closed.")

Database connection closed.